<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>

    <div class="wrapper">
      <div class="content" role="main">
        <h1 class="title">
          Know something we don't know?
          <br />
        </h1>
        <p>
          Submit a new monster
        </p>

      </div>
    </div>

    <div class="monster-form">
      <form class="monster-search" method="post">
        <input id="monster" name="monster" required="required" type="text" />
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  </body>
</html>